Primeiro script Python Pandas

In [8]:
import numpy as np
import pandas as pd

datas = pd.date_range(20250101, periods = 6, freq="D")
datas

DatetimeIndex(['1970-01-01 00:00:00.020250101',
               '1970-01-02 00:00:00.020250101',
               '1970-01-03 00:00:00.020250101',
               '1970-01-04 00:00:00.020250101',
               '1970-01-05 00:00:00.020250101',
               '1970-01-06 00:00:00.020250101'],
              dtype='datetime64[ns]', freq='D')

In [11]:
# Dataframes

df = pd.DataFrame(np.random.randn(6,4), index= datas, columns= list("ABCD"))
df

                                      A         B         C         D
1970-01-01 00:00:00.020250101 -0.384619 -1.881121  0.695148  0.163814
1970-01-02 00:00:00.020250101  0.492989 -0.460417  0.532106  0.062926
1970-01-03 00:00:00.020250101  0.002051  1.739490  2.297611 -0.128820
1970-01-04 00:00:00.020250101 -0.573392 -1.764694  0.343954  1.608706
1970-01-05 00:00:00.020250101 -0.646559  1.045515 -0.344804  0.732908
1970-01-06 00:00:00.020250101 -1.167946  0.143576 -0.330438  1.682371

In [12]:
type(df
     )

pandas.core.frame.DataFrame

In [14]:
df2 = pd.DataFrame({"A":7,
                     "B": pd.Timestamp('20250101'),
                     "C":pd.Series(1, index = list(range(4)), dtype= "float32"), 
                     "D": np.array([3] * 4, dtype='int32'),
                     "E": pd.Categorical(["teste", "Train","Teste", "Train"]),
                     "F": "Python" })

df2

   A          B    C  D      E       F
0  7 2025-01-01  1.0  3  teste  Python
1  7 2025-01-01  1.0  3  Train  Python
2  7 2025-01-01  1.0  3  Teste  Python
3  7 2025-01-01  1.0  3  Train  Python