In [1]:
import pandas as pd
import numpy as np

In [9]:
# Exemplo de DataFrame
datas = pd.date_range("20250101", periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=datas, columns=["Var_A","Var_B","Var_C","Var_D"])
df

               Var_A     Var_B     Var_C     Var_D
2025-01-01  0.354701 -0.977693  0.478159  0.590898
2025-01-02 -0.892291 -1.485059 -0.008336  0.618108
2025-01-03  0.723805  0.093353 -0.194641 -1.422733
2025-01-04  0.174849  0.242764 -0.329149 -0.261978
2025-01-05  0.783715  0.480272 -0.139750  0.675808
2025-01-06  1.680749  1.270244 -0.524334 -0.847544

In [6]:
# Transpor Linhas em Colunas e vice-versa
df_transposto = df.T
df_transposto

       2025-01-01  2025-01-02  2025-01-03  2025-01-04  2025-01-05  2025-01-06
Var_A    0.791292    1.125076    1.248032    0.476456   -0.874614    1.164268
Var_B    0.203209   -1.202958   -0.784501   -0.714134   -0.894059   -1.583601
Var_C    1.191835    0.048638    0.838505   -0.655933    0.600923    1.325166
Var_D   -0.177794   -1.309785    0.253572   -0.795437   -0.984755    1.649561

In [8]:
# Priimeiro linhas = 4 , depois colunas = 6
df_transposto.shape

(4, 6)

In [11]:
# Extrair apenas os valores das linhas e colunas
valores = df_transposto.values
valores

array([[ 0.7912919 ,  1.12507597,  1.24803158,  0.47645609, -0.87461401,
         1.16426835],
       [ 0.20320949, -1.20295776, -0.78450053, -0.71413361, -0.89405917,
        -1.5836013 ],
       [ 1.19183486,  0.04863808,  0.83850532, -0.65593317,  0.60092275,
         1.32516629],
       [-0.17779448, -1.30978467,  0.25357155, -0.79543655, -0.98475471,
         1.64956143]])

In [12]:
# Size de Valores
np.size(valores)

24

In [13]:
# A multiplicação entre os parametros de reshape tem que ser igual ao total do size de valores
valores.reshape(2,12)

array([[ 0.7912919 ,  1.12507597,  1.24803158,  0.47645609, -0.87461401,
         1.16426835,  0.20320949, -1.20295776, -0.78450053, -0.71413361,
        -0.89405917, -1.5836013 ],
       [ 1.19183486,  0.04863808,  0.83850532, -0.65593317,  0.60092275,
         1.32516629, -0.17779448, -1.30978467,  0.25357155, -0.79543655,
        -0.98475471,  1.64956143]])