In [18]:
# Função Pivot // By Jehann Câmara
import pandas as pd
import numpy as np

In [19]:
dias = pd.date_range("20250101", periods=12)
dias

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
               '2025-01-09', '2025-01-10', '2025-01-11', '2025-01-12'],
              dtype='datetime64[ns]', freq='D')

In [20]:
pessoas = ["Jehann", "Jeann", "Jacks filho", "Suérllen", "Karyne"] 
np.random.choice(pessoas)

np.str_('Jacks filho')

In [21]:
nome = []
gasto = []
for i in range(12):
    nome.append(np.random.choice(pessoas))
    gasto.append(np.round(np.random.rand() * 100,2))

nome

[np.str_('Karyne'),
 np.str_('Jehann'),
 np.str_('Karyne'),
 np.str_('Karyne'),
 np.str_('Jeann'),
 np.str_('Jeann'),
 np.str_('Jacks filho'),
 np.str_('Jacks filho'),
 np.str_('Karyne'),
 np.str_('Jacks filho'),
 np.str_('Karyne'),
 np.str_('Karyne')]

In [22]:
gasto

[np.float64(7.09),
 np.float64(99.38),
 np.float64(2.49),
 np.float64(42.24),
 np.float64(60.07),
 np.float64(98.56),
 np.float64(38.13),
 np.float64(4.56),
 np.float64(22.15),
 np.float64(43.51),
 np.float64(8.4),
 np.float64(24.03)]

In [23]:
# Criando DataFrame
df = pd.DataFrame({"Dia": dias, "Nome": nome, "Gasto": gasto})
df

          Dia         Nome  Gasto
0  2025-01-01       Karyne   7.09
1  2025-01-02       Jehann  99.38
2  2025-01-03       Karyne   2.49
3  2025-01-04       Karyne  42.24
4  2025-01-05        Jeann  60.07
5  2025-01-06        Jeann  98.56
6  2025-01-07  Jacks filho  38.13
7  2025-01-08  Jacks filho   4.56
8  2025-01-09       Karyne  22.15
9  2025-01-10  Jacks filho  43.51
10 2025-01-11       Karyne   8.40
11 2025-01-12       Karyne  24.03

In [24]:
# Função Pivot
df_pivot = df.reset_index().pivot(index='Dia', columns='Nome', values='Gasto')  
df_pivot

Nome        Jacks filho  Jeann  Jehann  Karyne
Dia
2025-01-01          NaN    NaN     NaN    7.09
2025-01-02          NaN    NaN   99.38     NaN
2025-01-03          NaN    NaN     NaN    2.49
2025-01-04          NaN    NaN     NaN   42.24
2025-01-05          NaN  60.07     NaN     NaN
2025-01-06          NaN  98.56     NaN     NaN
2025-01-07        38.13    NaN     NaN     NaN
2025-01-08         4.56    NaN     NaN     NaN
2025-01-09          NaN    NaN     NaN   22.15
2025-01-10        43.51    NaN     NaN     NaN
2025-01-11          NaN    NaN     NaN    8.40
2025-01-12          NaN    NaN     NaN   24.03

In [ ]:
# Resumo da Operação Pivot:
print("Resumo da Operação Pivot:\n")

print("1. DataFrame Original (df):")
print("- Mostra transações individuais por data, pessoa e valor")
print("- Cada linha representa uma transação única\n")

print("2. DataFrame Pivotado (df_pivot):")
print("- Reorganiza os dados para mostrar gastos por pessoa ao longo das datas")
print("- Cada coluna representa uma pessoa")
print("- Cada linha representa uma data")
print("- Valores NaN indicam que não houve gasto naquela data\n")

# Cálculo de métricas úteis
total_por_pessoa = df_pivot.sum().round(2)
print("Total de gastos por pessoa:")
print(total_por_pessoa)
print("\nNúmero de transações por pessoa:")
print(df_pivot.count())
print("\nMédia de gastos por transação:")
print((total_por_pessoa / df_pivot.count()).round(2))

# Exemplo de como usar pivot:
print("\nDica: A função pivot é útil quando você precisa:")
print("1. Transformar valores únicos em colunas")
print("2. Visualizar dados em formato de matriz")
print("3. Analisar tendências ao longo do tempo por categoria")