In [1]:
# Função Pivot Table // By Jehann Câmara
import pandas as pd

In [3]:
carros = [7, 4, 3, 2, 8]
dias = pd.date_range('20250101', "20250101", periods=5)
vendedores = ['George', 'Vagner', 'Pedro', 'Vagner', 'George']

df = pd.DataFrame({'Carros Vendidos': carros, 'Vendedor': vendedores, 'Data': dias})
df

   Carros Vendidos Vendedor       Data
0                7   George 2025-01-01
1                4   Vagner 2025-01-01
2                3    Pedro 2025-01-01
3                2   Vagner 2025-01-01
4                8   George 2025-01-01

In [4]:
pd.pivot_table(df, index=['Data'], columns='Vendedor', values='Carros Vendidos',)

Vendedor    George  Pedro  Vagner
Data
2025-01-01     7.5    3.0     3.0

In [5]:
# Pivot Table - Explicação Didática
'''
A função pivot_table é uma ferramenta poderosa para reorganizar e resumir dados:

1. Estrutura básica:
pd.pivot_table(data, values, index, columns, aggfunc)

2. Parâmetros principais:
- data: DataFrame fonte
- values: Coluna(s) que queremos analisar
- index: Define as linhas da tabela
- columns: Define as colunas da tabela
- aggfunc: Função de agregação (sum, mean, count, etc.)

Exemplos práticos com nosso DataFrame:
'''

# Exemplo 1: Total de carros por vendedor
print("Exemplo 1: Total de carros por vendedor")
print(pd.pivot_table(df, 
                    values='Carros Vendidos',
                    index='Vendedor',
                    aggfunc='sum'))

print("\nExemplo 2: Média de carros por vendedor")
print(pd.pivot_table(df, 
                    values='Carros Vendidos',
                    index='Vendedor',
                    aggfunc='mean'))

print("\nExemplo 3: Múltiplas métricas por vendedor")
print(pd.pivot_table(df, 
                    values='Carros Vendidos',
                    index='Vendedor',
                    aggfunc=['sum', 'mean', 'count']))

Exemplo 1: Total de carros por vendedor
          Carros Vendidos
Vendedor
George                 15
Pedro                   3
Vagner                  6

Exemplo 2: Média de carros por vendedor
          Carros Vendidos
Vendedor
George                7.5
Pedro                 3.0
Vagner                3.0

Exemplo 3: Múltiplas métricas por vendedor
                     sum            mean           count
         Carros Vendidos Carros Vendidos Carros Vendidos
Vendedor
George                15             7.5               2
Pedro                  3             3.0               1
Vagner                 6             3.0               2