In [1]:
# Função Pivot Table // By Jehann Câmara
import pandas as pd

In [3]:
carros = [7, 4, 3, 2, 8]
dias = pd.date_range('20250101', "20250101", periods=5)
vendedores = ['George', 'Vagner', 'Pedro', 'Vagner', 'George']

df = pd.DataFrame({'Carros Vendidos': carros, 'Vendedor': vendedores, 'Data': dias})
df

   Carros Vendidos Vendedor       Data
0                7   George 2025-01-01
1                4   Vagner 2025-01-01
2                3    Pedro 2025-01-01
3                2   Vagner 2025-01-01
4                8   George 2025-01-01

In [ ]:
pd.pivot_table(df, index=['Data'], columns='Vendedor', values='Carros Vendidos',)