In [2]:
import pandas as pd

# Stack e Unstack // By Jehann Câmara
# Importando para um dataframe dados de um arquivo CSV via Link.
df = pd.read_csv("https://cdncontribute.geeksforgeeks.org/wp-content/uploads/nba.csv")
df.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

In [3]:
# Verificando o tamanho/shape do DataFrame / 458 linhas(Jogadores) e 9 colunas
df.shape

(458, 9)

In [4]:
# Função Stack
stacked_df = df.stack()
stacked_df.head(10)

0  Name         Avery Bradley
   Team        Boston Celtics
   Number                 0.0
   Position                PG
   Age                   25.0
   Height                 6-2
   Weight               180.0
   College              Texas
   Salary           7730337.0
1  Name           Jae Crowder
dtype: object

In [5]:
# Função Unstack
unstacked = stacked_df.unstack()
unstacked.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

In [ ]:
# Resumo didático das funções read_csv, stack e unstack com exemplos de codigo e comentarios

# 1. read_csv()
print("1. Exemplo de read_csv:")
# df já foi criado anteriormente com:
df = pd.read_csv("https://cdncontribute.geeksforgeeks.org/wp-content/uploads/nba.csv")
print(df.head(2))  # Mostrando as 2 primeiras linhas

# 2. stack()
print("\n2. Exemplo de stack:")
# Demonstração com uma amostra pequena
amostra = df.head(2)
stacked_amostra = amostra.stack()
stacked_amostra
print(stacked_amostra)

# 3. unstack()
print("\n3. Exemplo de unstack:")
# Usando o stacked_amostra anterior
unstacked_amostra = stacked_amostra.unstack()
print(unstacked_amostra)


# Resumindo:
# - read_csv: lê dados de CSV para DataFrame.
# - stack: transforma colunas em linhas (formato longo).
# - unstack: transforma linhas (índices internos) em colunas (formato largo).